.profileButton {
  align-items: center;
  background-color: #ff9900;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  width: 161px;
}

.rightArrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 15px;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
